################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/packages
/Caelum.Leilao.Tests/bin/Debug
/Caelum.Leilao.Tests/obj/Debug
/Caelum.Leilao/bin/Debug
/Caelum.Leilao/obj/Debug
/.vs/Caelum.Leilao/v15
